{{#with page.navigation}}
<div class="nav-panel-menu is-active" data-panel="menu">
  <nav class="nav-menu">
    <ul class="nav-list">
      <li class="nav-item is-active is-current-path" data-depth="0">
    <ul class="nav-list">
      <li class="nav-item is-active is-current-path" data-depth="1">
        <button class="nav-item-toggle"></button>
        <span class="nav-text" style="cursor: pointer;">Get access to Vantage</span>
    <ul class="nav-list">
      <li class="nav-item is-current-page is-active" data-depth="2">
        <a class="nav-link" href="run-vantage-express-on-aws.html">Vantage Express on AWS</a>
      </li>
    </ul>
      </li>
    </ul>
      </li>
      <li class="nav-item" data-depth="0">
    <ul class="nav-list">
      <li class="nav-item is-active" data-depth="1">
        <button class="nav-item-toggle"></button>
        <span class="nav-text" style="cursor: pointer;">Obten accesso a Vantage</span>
    <ul class="nav-list">
      <li class="nav-item" data-depth="2">
        <a class="nav-link" href="../es/run-vantage-express-on-aws.html">Vantage Express en AWS</a>
      </li>
    </ul>
      </li>
    </ul>
      </li>
    </ul>
  </nav>
</div>
{{/with}}
