<!DOCTYPE html>
<html lang="{{site.attributes.html_lang[lang]}}">
  <head>
    <title>{{site.title}}</title>
  </head>
  <body>
    <p>{{uiRootPath}}</p>
{{> header}}
{{> landing}}
{{> footer}}
  </body>
</html>
